#header h1 {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-color: yellow;
}
h1 {
	text-align: center;
}
#instructions {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size: larger;
}
h2, h3, p, #button, #winlose {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

h1#winlose {
	font-size: 200%;
}

.startingBet {
	margin-right: auto;
	margin-left: auto;
	border: none;
}


.resultsTable {
	margin-right: auto;
	margin-left: auto;
	border: 1px double black;
	width: 275px;
	table-layout: fixed;

}

.resultsTable th {
	background-color: gray;
	font-size: x-large;
	text-align: center;
}

tr td {
	border: 1px solid black;
}

